header {
  background-image: url(../../../assets/images/background-header.png);
  height:clamp(400px, 15vh, 960px);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  h1{
  position: absolute;
  top: 2vw;
  left: 4vh;
  }
  h2 {
    color: $color-yellow;
    font-family: Anton;
    font-size: clamp(16px, 4vw, 44px);
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
.wrapper-header{
  max-width: 890px;
  height: 100%;
}

}
